/goitjdbc/target/classes/com/blob/example/*.class
/HelloWeb/out/artifacts/HelloWeb_war_exploded.war/WEB-INF/classes/com/dao/*.class
/HelloWeb/out
/HelloWeb/.idea
/HelloWeb/*.iml
/JDBCMaven/target/
/HelloRest/target
/HelloRest/.idea
/HelloRest/*.iml
/authapp/target
/authapp/.idea
/soap-my-client/target
/hellospring/target
/hellospring/.idea
/springaopapp/target
/springaopapp/.idea
/springaopapp/springaopapp.iml
/boundaryproperties/target
/boundaryproperties/boundaryproperties.iml
/boundaryproperties/.idea
