<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="defaultProcessor" class="com.app.DefaultProcessorImpl">
        <property name="title" value="Example"/>
    </bean>
    <bean id="defaultProcessor2" class="com.app.DefaultProcessorImpl">
        <constructor-arg index="0" value="Example2"/>
    </bean>
    <bean id="xmlProcessor" class="com.app.XMLProcessor"/>
    <bean id="dataService" class="com.app.DataService">
        <constructor-arg index="0" ref="defaultProcessor2"></constructor-arg>
    </bean>

</beans>