<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>asdfasfsdfsd</servlet-name>
        <servlet-class>com.app.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>asdfasfsdfsd</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>com.app.CalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>


</web-app>